<!DOCTYPE html>

<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Recuperos y Mandatos S.A.</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recuperos y Mandatos</title>
    <!-- CSS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</head>
<body>
    <!-- Top content -->
    <div class="container">
        
        <span class="pull-left" style="margin-top:10px;">
            @Html.ActionLink("Home", "Index", "Home", new { idioma = "es-MX" })
        </span>
        <div class="row">
            <span class="pull-right" style="margin-top:10px;">
                @*@Html.ActionLink("Español", "SetLanguage", "Home", new { idioma = "es-MX" }, new { @class = "btn btn-primary btn-lg" })
                @Html.ActionLink("English", "SetLanguage", new { idioma = "en-US" }, new { @class = "btn btn-primary btn-lg" })
                @Html.ActionLink("Portuges", "SetLanguage", new { idioma = "pt-BR" }, new { @class = "btn btn-primary btn-lg" })*@
            </span>
        </div>
    </div>
                   
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text active; ">
                        <h1 style="font-family:'Arial Rounded MT';">Recuperos y mandatos S.A.</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="container body-content">
                        @RenderBody()
                    </div>
                </div>
        </div>
       </div>
    </div>
    <div id="modelAdvertenciaErrorCodigoValidacion" class="modal fade" role="dialog">
        @Html.Partial("~/Views/Shared/Partials/ModalGenericoListErrores.cshtml")
    </div>

  


    @Scripts.Render("~/bundles/plugin")
    
    @Styles.Render("~/Content/css")
</body>
</html>


